@media (max-width: 768px) {
    .projects-box {
        grid-template-columns: 1fr;
    }

    .project-card {
        max-width: 100%;
        height: auto;
        min-height: 500px;
    }
}

@media (max-width: 480px) {
    .projects {
        padding: 3rem 2%;
    }

    .heading {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .projects-box {
        width: auto;
        max-width: 100%;
        margin: 5px;
    }

    .project-card {
        max-width: 100%;
        height: auto;
        min-height: 450px;
        border-radius: 3rem;
        padding: 3rem 1.5rem;
    }

    .project-card h3 {
        font-size: 2.2rem;
    }

    .project-card p {
        font-size: 1.6rem;
    }

    .btn {
        font-size: 1.4rem;
        padding: 0.8rem 1.6rem;
    }

    .dpdsvg, .gww {
        max-width: 80%;
    }

    .dpd img, .gw img {
        width: 100%;
        height: auto;
        position: static;
        max-width: 100%;
        margin-top: 10px;
    }
}
